#builds-page {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;

  .page_header {
    display: flex;
    align-items: center;
    @include mixin_media_query(r6) {
      display: block;
    }
    .page_title {
      display: block;

      @include mixin_media_query(r6) {
        text-align: center;
      }
    }

    .crea-build {
      display: block;
    }

    .page_header_mobile {
      justify-content: center;
      display: none;

      @include mixin_media_query(r6) {
        display: flex;
        .filer-wrapper {
          display: flex;
          z-index: 10;
          justify-content: center;
          .filter {
            display: flex;
            flex-direction: row;


            .filter-list {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-between;


              .filter-list-item {
                align-items: center;
                justify-content: center;
                display: flex;
              }
            }
          }
        }
      }
    }
  }



  .filer-wrapper {
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    position: sticky;
    top: 0;

    @include mixin_media_query(r6) {
      display: none;
    }

    .filter {
      display: flex;

      .filter-list {
        display: flex;
        flex-direction: column;

        .filter-list-item {
          align-items: center;
          display: flex;
        }
      }
    }
  }

  .builds_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .build_category {
      align-self: center;
      display:block;
    }

    .build {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      position: relative;

      .build_main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .build_left {
          align-items: center;
          display: flex;

          .build_name{
            display: flex;
            flex-direction: column;

          }
        }

        .build_mid {
          display: flex;
          flex-wrap: wrap;
          flex-grow: 1;
          align-items: center;

          @include mixin_media_query(r4) {
            justify-content: center;
          }

          .build_skill_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

          }
        }

        .build_right {
          display: flex;
          justify-content: center;
          align-items: center;

          .build_author_icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 10%;
            right: 2%;
          }
        }
      }
    }
  }
}