footer {
  display: flex;
  justify-content: space-between;
  align-items: start;

  .aboutUs {
    display: flex;
    flex-direction: column;
  }

  .socialMedia {
    display: flex;
    flex-direction: column;
  }
}