body {
  display: flex;
  flex-direction: column;

}
.main_foro{
  flex-grow: 1;

  .foro_menu {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    order: 0;
    .foro_titulo {
      order: 0;
    }

    .foro_navigation {

      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      flex-direction: row;
      order: 0;
    }

    .btn-crear-post{
      position: absolute;
      top: 0;
      right: 0;
      align-self: flex-end;
      order: 2;
    }
  }

  .contenido_mostrado {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    order: 2;

    @include mixin_media_query(r2) {
      align-items: flex-start;
    }

    .destacados_foro {
      display: none;
      flex-direction: column;
      justify-content: space-between;
    }

    .nuevos_foro {
      display: none;
      flex-direction: column;
      justify-content: space-between;

    }

    .catergorias_foro {
      display: flex;
      width: 99%;
      margin: auto;

      @include mixin_media_query(r2) {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }

      .subcategorias {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;

        @include mixin_media_query(r2) {
          flex-direction: column;
            justify-content: center;

        }
      }
    }
  }
}