#login-usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    #info-perfil {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 10px;


    }

    #edita-perfil {
      display: none;
      flex-direction: column;
      gap: 10px;
    }

    #editar {
      cursor: pointer;
    }

    #borrar {
      align-self: flex-end;
    }
  }
}