#info-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  #datos-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  #edita-perfil {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #borrar {
    align-self: flex-end;
  }
}