#build-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;

  .build-details {
    text-align: center;
  }

  .recommended-items {

    .items-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &>div {
        flex-basis: calc(50% - 10px);
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      img {
        display: block;
      }

    }
  }

  .talents {
    .build-pc {
      @include mixin_media_query(r3) {
        display: none;
      }
    }

    .build-mobile-1 {
      display: none;

      @include mixin_media_query(r3) {
        display: block;
      }
    }

    .build-mobile-2 {
      display: none;

      @include mixin_media_query(r3) {
        display: block;
      }
    }
  }
}
