footer {
  background-color: $color_menus;
  color: $color_texto;
  padding: 20px 0;

  a {
    color: $color_action;
    text-decoration: none;
    font-size: clamp(1.5em, 2.5vw, 2em);
  }

  a:hover {
    color: $color_texto;
  }

  p {
    margin: 5px;
    font-size: clamp(1em, 1.5vw, 1.5em);
  }

  .contacto {
    margin-left: 10px;
  }

  .aboutUs {
    max-width: 65%;
    margin: auto;
  }

  .socialMedia {
    margin-right: 20px;

    a {
      font-size: clamp(1.5em, 2.5vw, 2em);
      i {
        color: $color_texto;
      }

      i:hover {
        color: $color_action;
      }
    }
  }
}