.main_foro {
  background: $color_menus;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  .foro_menu {
    background: $color_main;
    width: 100%;
    box-sizing: border-box;

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-right: 10px;

        a {
          text-decoration: none;

          &:hover {
            color: $color_texto;
          }
        }
      }
    }
  }

  .contenido_mostrado {
    background: $color_main;
    border:  1px solid $color_action;
    padding: 20px;
    margin-top: 20px;

    h4, h5 {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $color_texto;

      &:hover {
        color: $color_action;
      }
    }

  }
}