header {
  height: 70px;
  background-color: #537C8E;
  padding: 10px;

  .logo {
    img {
      height: 80px;
      margin-left: 10px;
    }
  }

  .menu-movil {
    font-size: 30px;

    i {
      @include mixin_media_query(r1) {
        background-color: $color_menus;

      }
    }
  }

    nav {
      .contenedor-enlaces {
        margin-right: 10px;

        a {
          font-size: clamp(1.5em, 2.5vw, 2em);
          padding-right: 15px;
        }

        .link {
          margin: 0 10px;
          text-decoration: none;
          color: $color_texto;
        }

        .link:hover {
          color: $color_action;
          border-bottom: $color_action 2px solid;
        }

        @include mixin_media_query(r2) {
          padding-right: 5px;
        }

      }

      @include mixin_media_query(r3) {
        padding: 10px 0px;
      }
    }

    .busqueda {
      background-color: $color_main;
      border-radius: 10px;
      padding: 10px 20px 10px 20px;

      input {
        background-color: $color_main;
        outline: none;
        border: none;
      }
    }

    .busqueda:focus-within {
      border: 2px solid $color_action;
    }

}