#home{
  margin-left: auto;
  max-width: 90%;

  .base-body {
    max-width: 90%;
    margin-top: 20px;
    margin-bottom: 40px;
    min-height: 500px;
    line-height: 1.5;
    box-shadow: 4px 0px 20px 1px #29d5cf;

    h1 {
      text-shadow: 2px 2px 4px $color_action;
      transition: color 0.3s ease, text-shadow 0.3s ease;

      &:hover {
        color: #FB503A;
        text-shadow: 2px 2px 4px #000000;
      }
    }

    p {
      margin-top: 20px;
    }

    .pos1, .pos2 {
      background-color: rgba(166, 163, 152, 0.89);

      h1 {
        font-family: 'Playfair Display', serif;
      }
    }

    .header-movil {
      .img{
        @include mixin_media_query(r3) {
          height: auto;
        }
      }
    }

  }

  #asesinato, #sutileza, #forajido {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(166, 163, 152);

  }

  #asesinato {
    @include mixin_media_query_minW(r3) {
      background-image: $fondo_asesinato_pc;
    }
  }

  #sutileza {
    @include mixin_media_query_minW(r3) {
      background-image: $fondo_sutileza_pc;
    }
  }

  #forajido {
    @include mixin_media_query_minW(r3) {
      background-image: $fondo_forajido_pc;
    }
  }
}