#home{
  margin-left: auto;
  max-width: 90%;

  img{
    width: 100%;
  }

  .base-body {
    max-width: 90%;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 1.5;
    box-shadow: 4px 0px 20px 1px #29d5cf;

    @include mixin_media_query_minW(r3) {
      min-height: 500px;
    }
    .header-movil {
      width: 100%;
      height: 150px;

        @include mixin_media_query(r2) {
            height: 125px;
        }
    }
    h1 {
      text-shadow: 2px 2px 4px $color_action;
      transition: color 0.3s ease, text-shadow 0.3s ease;

      &:hover {
        color: #FB503A;
        text-shadow: 2px 2px 4px #000000;
      }
    }

    p {
      margin-top: 20px;
    }

    .pos1, .pos2 {
      background-color: rgba(166, 163, 152, $opacidad);

      h1 {
        font-family: 'Playfair Display', serif;
      }
    }


  }

  #asesinato, #sutileza, #forajido {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(166, 163, 152);

  }

  #asesinato {

    .header-movil {
      @include mixin_media_query(r3) {
        background-image: $fondo_asesinato_movil;
        background-size: cover;
      }

       @include mixin_media_query(r2) {
        background-image: $fondo_asesinato_movil_500;
      }
    }
    @include mixin_media_query_minW(r3) {
      background-image: $fondo_asesinato_pc_80;
    }

    @include mixin_media_query_minW(r4) {
      background-image: $fondo_asesinato_pc_100;
    }


  }

  #sutileza {

    .header-movil {
      @include mixin_media_query(r3) {
        background-image: $fondo_sutileza_movil;
        background-size: cover;
      }

      @include mixin_media_query(r2) {
        background-image: $fondo_sutileza_movil_500
      }
    }

    @include mixin_media_query_minW(r3) {
      background-image: $fondo_sutileza_pc_80;
    }

    @include mixin_media_query_minW(r4) {
      background-image: $fondo_sutileza_pc_100;
    }

  }

  #forajido {

    .header-movil {
      @include mixin_media_query(r3) {
        background-image: $fondo_forajido_movil;
        background-size: cover;
      }

      @include mixin_media_query(r2) {
        background-image: $fondo_forajido_movil_500;
      }
    }

    @include mixin_media_query_minW(r3) {
      background-image: $fondo_forajido_pc_80;
    }

    @include mixin_media_query_minW(r4) {
      background-image: $fondo_forajido_pc_100;
    }
  }
}