#login-usuario {
  width: 90%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: auto;
  margin-left: auto;

  .perfil {
    background-color: $color_main;
    box-shadow: 4px 0px 20px 1px #29d5cf;
  }

}