$fuente_texto: 'Source Sans 3', sans-serif;
$fuente_titulos: 'Playfair Display', serif;
$color_fondo_web: #060129;
$color_texto: #000;
$color_menus: #537C8E;
$color_action: #FB503A;
$color_main: #A6A398E2;
$opacidad: 0.85;
$fondo_asesinato_pc_100: url('../Multimedia/fondos/ase100.webp');
$fondo_asesinato_pc_80: url('../Multimedia/fondos/ase80.webp');
$fondo_asesinato_pc_60 : url('../Multimedia/fondos/ase60.webp');
$fondo_asesinato_pc_40 : url('../Multimedia/fondos/ase40.webp');
$fondo_asesinato_movil: url('../Multimedia/Imagenes/asesinato700.png');
$fondo_asesinato_movil_500: url('../Multimedia/Imagenes/asesinato500.webp');
$fondo_forajido_pc_100: url('../Multimedia/fondos/fora100.webp');
$fondo_forajido_pc_80: url('../Multimedia/fondos/fora80.webp');
$fondo_forajido_pc_60: url('../Multimedia/fondos/fora60.webp');
$fondo_forajido_pc_40: url('../Multimedia/fondos/fora40.webp');
$fondo_forajido_movil: url('../Multimedia/Imagenes/fora700.jpg');
$fondo_forajido_movil_500: url('../Multimedia/Imagenes/fora500.webp');
$fondo_sutileza_pc_100: url('../Multimedia/fondos/suti100.webp');
$fondo_sutileza_pc_80: url('../Multimedia/fondos/suti80.webp');
$fondo_sutileza_pc_60: url('../Multimedia/fondos/suti60.webp');
$fondo_sutileza_pc_40: url('../Multimedia/fondos/suti40.webp');
$fondo_sutileza_movil: url('../Multimedia/Imagenes/suti700.jpg');
$fondo_sutileza_movil_500: url('../Multimedia/Imagenes/suti500.webp');
$fondo_login_pc_100: url('../Multimedia/fondos/loginFondo200.webp');
$fondo_login_pc_80: url('../Multimedia/fondos/loginFondo100.webp');
$fondo_login_pc_60: url('../Multimedia/fondos/loginFondo80.webp');
$fondo_usuario : url('../Multimedia/fondos/lopgin.webp');
$ruptura: (
    r1: 450px,
    r2: 550px,
    r3: 705px,
    r4: 860px,
    r5: 890px,
    r6: 1190px,
    r7: 1600px
)