$fuente_texto: 'Source Sans 3', sans-serif;
$fuente_titulos: 'Playfair Display', serif;
$color_fondo_web: #060129;
$color_texto: #000;
$color_menus: #537C8E;
$color_action: #FB503A;
$color_main: #A6A398E2;
$opacidad: 0.8;
$fondo_asesinato_pc: url('../Multimedia/Imagenes/PicaroAsesinato.webp');
$fondo_forajido_pc: url('../Multimedia/Imagenes/PicaroForajido.webp');
$fondo_sutileza_pc: url('../Multimedia/Imagenes/PicaroSutileza.jpg');
$ruptura: (
    r1: 350px,
    r2: 500px,
    r3: 700px
)