$fuente_texto: 'Source Sans 3', sans-serif;
$fuente_titulos: 'Playfair Display', serif;
$color_fondo_web: #060129;
$color_texto: #000;
$color_menus: #537C8E;
$color_action: #FB503A;
$color_main: #A6A398E2;
$opacidad: 0.85;
$fondo_asesinato_pc: url('../Multimedia/Imagenes/ase.jpg');
$fondo_forajido_pc: url('../Multimedia/Imagenes/fora.jpg');
$fondo_sutileza_pc: url('../Multimedia/Imagenes/suti.jpg');
$fondo_login_pc: url('../Multimedia/Imagenes/loginFondo.jpg');
$ruptura: (
    r1: 450px,
    r2: 550px,
    r3: 705px,
    r4: 860px,
    r5: 890px,
    r6: 1190px
)